.form_wrapper {
  background: linear-gradient(261.2deg, rgba(255, 255, 255, 0.276) -114.85%, rgba(255, 255, 255, 0) 69.04%), #040613;
  border: 2px solid #F14D34;
  box-sizing: border-box;
  width: 90vw;
  border-radius: 10px;
  position: relative;
}

.form_wrapper form {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  padding: 35px;
}

.popup button#close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  z-index: 4;
}

.popup button#close img {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-duration: 0.3s;
}

.popup button#close img:hover {
  transition-duration: 0.3s;
  opacity: 0.7;
}

input {
  display: block;
  width: 100%;
  height: 55px;
  padding-left: 24px;
  margin-bottom: 8px;
  color:white;

  border: 1px solid #ffffffb6;
  border-radius: 5px;
  background: none;
  box-sizing: border-box;
}

.input_blocked {
  background-color: rgb(43, 43, 59);
  transition:0.3s;
}


input::placeholder{
  font-weight: 480px;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  
}

textarea {
  background: none;
  color:white;
  border-radius:5px;
  width: 100%;
  border: 1px solid #ffffffb6;
  box-sizing: border-box;
  padding-top: 26px;
  padding-left: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.check_wrapper {
  display: flex;
  align-items: center;
  column-gap:13px;
  margin-top: 15px;
}

.check_text {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
}

.form_wrapper a {
  color: #F14D34;
  text-decoration: none;
}

.form_wrapper a:hover {
  text-decoration: underline;
}


 @media (min-width: 1024px) {
  .form_wrapper {
    width: 40vw;
  }  

  .form_wrapper form{
    padding: 50px;
  }  

  .popup button#close {
    width: 25px;
    height: 25px;
    right: 15px;
    top: 15px;
  }
}

@media (min-width: 768px) and (max-width:1024px){
  .form_wrapper {
    width: 60vw;
  }  
} 


.checkbox {
  position: absolute; 
  opacity: 0;
  width: 20px;
  height: 20px;
  z-index: 1;
}

.fakecheck {
  display: inline-block;
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border: 2px solid rgb(134,135,141);
  border-radius: 5px;
  position: relative;
  background-color: rgb(18,20,32);
}

.fakecheck::before {
  content: "";
  position: absolute;
  display: block;
  top: 24%;
  left: 14%;
  display: block;
  width: 16px;
  height: 12px;
  background-image: url(checkbox.png);
  opacity: 0;
  transition: .3s;
}

.checkbox:checked + .fakecheck::before {
  opacity: 1;
}

