.popup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  pointer-events: all;
}

.popup_wrapper {
  /* background-color: aqua; */
  z-index: 10;
  box-sizing: border-box;
  width: 90vw;
  position: absolute;
}

@media (min-width: 1024px) {
  .popup_wrapper {
    width: 40vw;
  }  
}