button#open_form_btn {
  width: 50%;
  height: 60px;
  background: #F14D34;
  border-radius: 5px;
  border:none;

  color:white;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 40px;
  transition:0.5s;
}

button#open_form_btn:hover {
  background: none;
  cursor:pointer;
  border: 1px solid #F14D34;
  transition:0.5s;
}